@page "/specialities/edit/{id:int}"
@using MedicalCare.Frontend.Models
@using MedicalCare.Frontend.Services
@inject SpecialityService specialityService
@inject NavigationManager navManager

<h1>Editar Especialidad</h1>
<hr />

@if (speciality == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@speciality" OnValidSubmit="Update">
                <div class="mb-3">
                    <label class="form-label">Nombre de la Especialidad</label>
                    <InputText class="form-control" @bind-Value="speciality.Speciality_Name" required />
                </div>
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <button type="button" class="btn btn-secondary ms-2" @onclick="GoBack">Cancelar</button>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter] public int id { get; set; }
    private Speciality? speciality;

    protected override async Task OnInitializedAsync()
    {
        speciality = await specialityService.GetSpecialityByIdAsync(id);
    }

    private async Task Update()
    {
        if (speciality != null)
        {
            var success = await specialityService.UpdateSpecialityAsync(id, speciality);
            if (success) navManager.NavigateTo("/specialities");
        }
    }

    private void GoBack()
    {
        navManager.NavigateTo("/specialities");
    }
}